In [1]:
import os
import pandas as pd
import numpy as np
from pybaseball import batting_stats

In [2]:
START = 2002
END = 2022

In [3]:
batting = batting_stats(START, END, qual=200)

In [10]:
batting.to_csv("batting.csv")

In [18]:
batting = pd.read_csv('batting.csv')

In [33]:
grouped_batting = batting.groupby("IDfg", group_keys=False).filter(lambda x: x.shape[0] > 1)

In [34]:
grouped_batting

,Unnamed: 0,IDfg,Season,Name,Team,Age,G,AB,PA,H,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
0,0,1109,2002,Barry Bonds,SFG,37,143,403,612,149,...,NaN,NaN,NaN,0,0.127,0.191,NaN,NaN,NaN,12.7
1,1,1109,2004,Barry Bonds,SFG,39,147,373,617,135,...,NaN,NaN,NaN,0,0.124,0.164,NaN,NaN,NaN,11.9
2,8,15640,2022,Aaron Judge,NYY,30,157,570,696,177,...,118.4,246.0,0.609,404,0.169,0.287,NaN,NaN,NaN,11.4
3,2,1109,2003,Barry Bonds,SFG,38,130,390,550,133,...,NaN,NaN,NaN,0,0.135,0.223,NaN,NaN,NaN,10.2
4,15,13611,2018,Mookie Betts,BOS,25,136,520,614,180,...,110.6,217.0,0.500,434,0.220,0.270,NaN,NaN,NaN,10.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7109,7042,9272,2018,Chris Davis,BAL,32,128,470,522,79,...,111.8,113.0,0.401,282,0.174,0.316,NaN,NaN,NaN,-2.6
7110,6535,45,2012,Rod Barajas,PIT,36,104,321,361,66,...,NaN,0.0,NaN,0,0.147,0.258,NaN,NaN,NaN,-2.6
7111,6673,319,2011,Adam Dunn,CHW,31,122,415,496,66,...,NaN,0.0,NaN,0,0.169,0.295,NaN,NaN,NaN,-2.9
7112,6988,620,2002,Neifi Perez,KCR,29,145,554,585,131,...,NaN,NaN,NaN,0,0.130,0.187,NaN,NaN,NaN,-2.9
7113,978,2113,2008,Ryan Doumit,PIT,27,116,431,465,137,...,NaN,0.0,NaN,0,0.144,0.231,NaN,NaN,NaN,-3.1

In [35]:

def next_season(player):
    player = player.sort_values("Season")
    player["Next_WAR"] = player["WAR"].shift(-1)
    return player

batting_with_next_war = grouped_batting.groupby("IDfg", group_keys=False).apply(next_season)

/var/folders/z5/81gv5lc94lg2dbfrv548wwr80000gn/T/ipykernel_96852/744198965.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  batting_with_next_war = grouped_batting.groupby("IDfg", group_keys=False).apply(next_season)

In [36]:
batting_with_next_war[["Name", "Season", "WAR", "Next_WAR"]]

                 Name  Season  WAR  Next_WAR
3946  Alfredo Amezaga    2006  1.1       2.0
2607  Alfredo Amezaga    2007  2.0       1.2
3787  Alfredo Amezaga    2008  1.2       NaN
1020  Garret Anderson    2002  3.7       5.1
424   Garret Anderson    2003  5.1       0.8
...               ...     ...  ...       ...
4667      Owen Miller    2022  0.7       NaN
6108    Andrew Vaughn    2021 -0.2      -0.5
6450    Andrew Vaughn    2022 -0.5       NaN
5238     Ha-seong Kim    2021  0.4       3.6
1128     Ha-seong Kim    2022  3.6       NaN

[6754 rows x 4 columns]